<footer class="text-center text-lg-start footer">
  <div class="container p-4">
    <div class="row">
      <div class="col-md">
        <h2>Thanks to</h2>
        <a href="https://allenai.org/">Allen Institute for Artificial Intelligence (AI2)</a>
        <br>
        <br>
        <a href="https://www.semanticscholar.org/">Semantic Scholar Website</a>
        <br>
        <a href="https://api.semanticscholar.org/">API Documentation</a>
    </div>
    <div class="col-md  semantic">
        <a href="https://www.semanticscholar.org/?utm_source=google&utm_medium=cpc&utm_campaign=search_br_world_wq&utm_content=&utm_term=semantic%20scholar&gclid=Cj0KCQjw9_mDBhCGARIsAN3PaFNA1r8xncrGfIZWcIbMm-R39dpVb0y6K9aDyjYQKPrJ5QXJq8SGaxQaAlhpEALw_wcB"><img class="semanticLogo" src="assets/semantic_logo.png" class="img-fluid"></a>
    </div>
    <div class="col-md">
      <h2>Organization</h2>
      <a href="https://www.oslomet.no/">Oslo Metropolitan University</a>
      <br>
      <br>
      <a href="http://www.nichele.eu/lab.html">Living Technology Lab</a>
      <p>Pilestredet 52 - 0166 Oslo (Norway)</p>
    </div>
    </div>
  </div>
</footer>
