<div class="footer">
    <div class="footerBox" >
      <P>Tobias</P>
      <p>Lars</p>
      <p>Emilis</p>
    </div>
    <div class="footerBox">
      <p>Science garden</p>
      <p>OsloMet</p>
      <p>Pilestrede 35</p>
    </div>
    <div class="footerBox semanticInfo">
      <div class="semanticInfoBox">
        <p>Tanks to Semantic for API and archive data</p>
        <P>WebSite: <a href="https://www.semanticscholar.org/"> https://www.semanticscholar.org/</a></P>
        <P>API documentation: <a href="https://api.semanticscholar.org/">https://api.semanticscholar.org/</a></P>
      </div>
      <div class="semanticInfoBox">
       <img src="assets/semantic_logo.png">
      </div>

    </div>
  </div>
