@import '../../styles/constants.scss';
@import '../../styles/mixin.scss';
.footer{
  background-color: $frameColor;
}

a {
  color: black;
}

img{
  max-width: 270px;
}

@media screen and (max-width: 992px) {
 .semantic{
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 20px;
 }
}



