$primaryColor: red;
$bodyColor: white;
$frameColor: #dae0e6;
$buttonColor: #27698D;
$buttonHoverColor: #dae0e6;
$buttonTextHover: black;
$buttonTextColor: white;
$inNodeColor: green;
$nodeSize: 150px;

