<div class="info">
  <br>
  <h1>Graph Types</h1>
  <h3><b>In-citation graph:</b> Graph consisting of a seed node, nodes that cite the seed node and layers of nodes citing nodes in lower layers with citation relationships between nodes. Visualizes a seed node’s impact.</h3>
  <h3><b>Out-citation graph:</b> Graph consisting of a seed node, nodes the seed node references and layers of nodes referencing nodes in upper layers. Visualizes the papers the seed node depends on.</h3>
  <br>
  <h1>Node Color</h1>
</div>
<div class="inInfo">

</div>
<div class="outInfo">

</div>

