@import '/src/styles/mixin.scss', '/src/styles/constants.scss';
.button-color{
  color: $buttonTextColor;
  background-color : $buttonColor;
}
.card{
  background-color: rgb(255, 255, 255);
  min-width: 400px;
  width: 100%;
  margin: 5px;
  padding: 20px;
}
.buttonGroup{
  display: flex;
  justify-content: space-between;
}
.buttonGroupItem{
  width: auto;
}
.button-color:hover{
  color: $buttonTextHover;
  background-color : $buttonHoverColor;
}


