<div class="all">
    <div *ngIf="showGraph" class="Info" id="container">

    </div>
    <div  id="info" class="Info">
      <h1 *ngIf="in == false">Out-citation Graph</h1>
      <h1 *ngIf="in == true">In-citation Graph</h1>
      <p>From: {{paperId}} </p>
      <h3>Total number of articles: {{countTotalUnloadedOnScreen}}</h3>
      <h3>Total number of articles loaded: {{countTotalLoadedOnScreen}}</h3>
      <h3 *ngIf="countTotalLoadedOnScreen != 0">Articles loaded since last build: {{countLoadedSinceLast}}</h3>
      <h3 *ngIf="countTotalLoadedOnScreen == 0">Articles loaded: {{countLoadedSinceLast}}</h3>
      <h3 *ngIf="countTotalLoaded < 20 && !done"><b>Need 20 articles or all to build, please wait...</b></h3>
      <button class="btn" type="button" [disabled]="(stopValue || countTotalLoaded < 20) && !done" (click)="onBuildTree()">Build Graph</button>
      <button class="btn" type="button" (click)="stop()">Stop</button>
      <h3 *ngIf="done"><b>No more articles to fetch</b></h3>
      <ng-container
        *ngIf="articleClicked; then articleIsClicked; else articleNotClicked">
      </ng-container>

      <ng-template #articleIsClicked>
        <div *ngIf="clickedArticle.$title != null">
        <h2>Article Information</h2>
          <p>Title: {{clickedArticle.$title}}</p>
          <p>Authors: {{clickedArticle.$authors}}</p>
          <p>Abstract: {{clickedArticle.$paperAbstract}}</p>
          <p>DOI: {{clickedArticle.$DOI}}</p>
          <p>S2PaperId: {{clickedArticle.$S2PaperID}}</p>
          <p>In-citation: {{clickedArticle.$inCitations}}</p>
          <p>Out-citation: {{clickedArticle.$outCitations}}</p>
          <p>Read more about this paper <a href="https://api.semanticscholar.org/{{clickedArticle.$S2PaperID}}" target="_blank">here</a></p>
          <br>
        <button *ngIf="articleClicked"  [disabled]="clickedArticle.$title == null" class="btn button-color" type="button" (click)="onRedraw('in')">Set New Seed In-node</button>
        <button *ngIf="articleClicked" [disabled]="clickedArticle.$title == null" class="btn button-color" type="button" (click)="onRedraw('out')">Set New Seed Out-node</button>
        </div>
        <div *ngIf="clickedArticle.$title == null">
          <h2>Article Information</h2>
          <p>This article has not finished loading, please wait and rebuild...</p>
          <p>S2PaperId: {{clickedArticle.$S2PaperID}}</p>
        </div>
      </ng-template>
      <ng-template #articleNotClicked>
        <h2>Click on a node to display more information</h2>
      </ng-template>


        <ng-container
    *ngIf="in; then inInfo; else outInfo" >
    </ng-container>
    <ng-template #inInfo>
      <p>Retracted:</p>
      <div class="dot">

      </div>
    </ng-template>
    <ng-template #outInfo>

</ng-template>



      </div>


</div>
<div *ngIf="!showGraph ">
  <p>New more nodes to build tree</p>
</div>

