<div class="itemList" *ngIf="list.length > 0 && list[0].$S2PaperID != '-1'">
  <h2>Result for: {{searchIn}}</h2>
  <app-search-list-item
    *ngFor="let article of list"
    [article]="article"
  ></app-search-list-item>
  <div class="navigate" *ngIf="list.length == 10">
    <button [disabled]="page>1 ? false: true" class="btn btn-primary" (click)="nextPage(false)">Previous</button>
    <p class="pageNumber">Page: {{page}}</p>
    <button class="btn btn-primary" (click)="nextPage(true)">Next</button>

  </div>
</div>
<div *ngIf="list.length>0 && list[0].$S2PaperID == '-1'">
  <div class="noResult">
    <h2>No Papers Found</h2>
    <p>Sorry, there are no results for <b>{{searchIn}}</b></p>
  </div>

</div>
<div  *ngIf="list.length == 0">
  <div class="box">

    <h2>Searching for articles</h2>
    <h3>This can take up to 3 minutes</h3>
    <h4>If searching for one specific article</h4>
    <h4>Search for it by S2PaperID or DOI</h4>
  </div>

</div>

