@import '/src/styles/mixin.scss';
.settings{
  @include displayFlex(column);
  height: 97vh;
  text-align: center;
}


h3.text {
  font-size: 18px;
}

input.field {
  font-size: 18px;
  border: none;
  background-color: #dae0e6;
  border-radius: 30px;
  height: 2%;
  text-align: center;
  margin-top: 1.6%;
  outline-color: #dae0e6;
}

div.test {
  background-color: #dae0e6;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
